<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ac.austin.now" >
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".UserApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >

        <activity
            android:name=".PickUserEvents"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ac.austin.now.AddNewEventActivity"
            android:label="New Event">
        </activity>
        <activity
            android:name="com.ac.austin.now.PickMovies"
            android:label="Recent Blockbusters">
        </activity>

        <activity
            android:name="com.ac.austin.now.PickConcerts"
            android:label="Concerts and Live Music">
        </activity>


        <activity
            android:name="com.ac.austin.now.PickHackathons"
            android:label="Hackathons">
        </activity>

        <activity
            android:name="com.ac.austin.now.PickDinners"
            android:label="Places to Eat">
        </activity>
    </application>

</manifest>
